[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "==2.7.5"
"psycopg2-binary" = "==2.7.5"
django-widget-tweaks = "==1.4.2"
django-countries = "==5.3.2"
django-autoslug = "==1.9.3"
django-template-maths = "==0.2.0"
djadmin = "==1.1.6"
Django = "==2.0"
Pillow = "==5.2.0"

[dev-packages]

[requires]
python_version = "3.6"
