<footer class="footer" style="background-color: white;">
                <div class="container-fluid" style="padding-left: 3%; padding-right: 3%;">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Graham
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Director
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Coordinador
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Profesor
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Padres de Familia
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                       Terminos de Uso
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="https://www.onel.media"> <strong>Graham</strong> </a>
                    </p>
                </div>
</footer>